# Configurações do Banco de Dados PostgreSQL
DATABASE_URL=postgres://usuario:senha@host:porta/banco

# Chave da API do Google Maps (Geocoding e Routes)
GOOGLE_MAPS_API_KEY=sua_chave_aqui

# Porta do Servidor
PORT=3000

# Ambiente
NODE_ENV=development
